* {
    box-sizing: border-box;
}

.page {
    margin: 0;
}

.App {
    background-color: rgb(33, 12, 82);
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background-color: rgb(54, 150, 102);
    width: 80%;
    margin: 0 auto;
    padding-top:20px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-areas:
        '- start-button a'
        'statistic input mode'
        'word-container word-container word-container';
        grid-template-columns: 1fr 1fr 1fr;
}

.words-container {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    flex-shrink: 0;
    border-radius: 20px;
    display: flex;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
    grid-area: word-container;
    justify-self: center;
}

.button {
    all: unset;
    padding: 20px 15px;
    background-color: rgba(6, 136, 82, 0.877);
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.781);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    grid-area: start-button;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button_disabled {
    pointer-events: none;
    background-color: rgba(110, 119, 115, 0.863);
    opacity: 0.8;
}

.button:hover {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.781);
}

.input {
    font-size: 64px;
    display: flex; 
    padding:0 10px 5px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(31, 8, 116);
    justify-self: center;
    grid-area: input;
    border-radius: 5px;
    height: 50px;
    align-self: center;
}

.input_active {
    border-bottom:1px solid white;
}

.statistic-group {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    grid-area: statistic;
}

.statistic p {
    margin: 0;
}
.statistic {
    align-self: start;
}

.current-count-number {
    color: green;
}
.miss-count-number {
    color: rgb(124, 4, 4);
}

.bpm-count-number {
    color: rgb(9, 9, 117);
}

.bpm-count-number_medium {
    color: yellow;
}

.bpm-count-number_high {
    color: rgb(9, 97, 36);
}
.accuracy-count-number {
    color: red;
}
.accuracy-count-number_high {
    color: green;
}
.accuracy-count-number_medium {
    color: yellow;
}

.list-letter {
    min-width: 12px;
}


.mode-group {
    grid-area: mode;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-self: center;
    align-items: end;
    margin-right:10px;
    flex-direction: column;
    gap:5px;
}

.mode__item {
    display: flex;
}

.mode__button {
    all:unset;
    display: block;
    padding: 5px 10px;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor:pointer;
    color:white;
 
}